body {
	background: #DA4453;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carousel-control-prev , .carousel-control-next {
background: #ece9e66e;  /* fallback for old browsers */
}

.btn {
	margin-top: 15px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	background: #888888c9;
	padding: 10px 40px 10px 40px;
 	text-decoration: none;
}

.btn:hover {
	background: #939a9e;
	text-decoration: none;
}